[Unit]
Description=log all the sensors
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/pi/stem_club/sensors.sh
RemainAfterExit=yes
User=pi
GuessMainPID=no

[Install]
WantedBy=multi-user.target
