[Unit]
Description=pick an action
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/pi/sensors.sh
RemainAfterExit=yes
User=pi
GuessMainPID=no
StandardOutput=append:/home/pi/logs/sensors.log

[Install]
WantedBy=multi-user.target
